# Maven build folder
/target/

# Compiled class files
*.class

# Log files
*.log

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.dbmdl
*.opendb

# IntelliJ IDEA (nếu ai dùng chung repo)
.idea/
*.iml
/out/

# Eclipse
/.classpath
/.project
/.settings/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
